body {
    margin: 0;
    font-family:   "sans-serif",Pyidaungsu , Arial, "Noto Sans", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji" !important;
    font-size: 0.91rem !important;
    font-weight: 400 !important;
    line-height: 1.5;
    color: #212529 !important;
    text-align: left;
    background-color: #fff;
  }